.container {
  position: relative;
}
/* Top right text */
.text-block {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-left: 20px;
  padding-right: 20px;

}
.status {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }
  
.status.success {background-color: #4CAF50;}
.status.info {background-color: #2196F3;}
.status.warning {background-color: #ff9800;}