.backgroundImg{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid red;
}
.text {
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orangered;
}   
.input{
    left: 50%;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: orangered;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
}