.title {
    animation: blinker 1.5s linear infinite;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
backgroundImg{
    background-color: rgb(255 70 30);
    height: 350px; /* adjust height as needed */
    width: 320px;
    border: 1px solid black; 
    margin: 5px; /* adjust padding as needed */

}
:host{
    --slds-c-button-shadow-focus:0 0 3px #8f5a0c;
    --slds-c-button-brand-color-background:#ff461e;
    --slds-c-button-brand-color-background-hover:rgb(218, 100, 3);
    --slds-c-button-radius-border:90px;
    --slds-c-button-brand-color-border:White;
    --slds-c-button-brand-text-color:white;    
}
.card-style{
    font-size: 12px;
    color: black;
}