.warning
  {
    font: bold small-caps normal 1.8rem Times, Times New Roman, serif;
  }
  h1
  {
    font: bold small-caps normal 1.5rem Times, Times New Roman, serif    ;
  }
  .subtext
  {
    
      font-size: medium;
      font-style: normal;
      
    }
  .headtitle{
    text-align: center;
    align-items: center;
    font-weight: bold;
  }
      
      
    .p{
      
      margin-right:8px;
      
      
    }
    :host{
      --slds-c-button-shadow-focus:0 0 3px #8f5a0c;
      --slds-c-button-brand-color-background:rgb(255, 38, 0);
      --slds-c-button-brand-color-background-hover:rgb(218, 100, 3);
      --slds-c-button-radius-border:90px;
      --slds-c-button-brand-color-border:White;
      --slds-c-button-brand-text-color:White;
      
    }