p
{
    color:chocolate;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
h1
{
 color: cadetblue;
 font-family: Arial, Helvetica, sans-serif;
 font-size: large;
 background-color: gold;
}