:host{
    --slds-c-button-shadow-focus:0 0 3px #8f5a0c;
    --slds-c-button-brand-color-background: rgb(255, 70, 35);
    --slds-c-button-brand-color-background-hover:rgb(255, 70, 35);
    --slds-c-button-radius-border:90px;
    --slds-c-button-brand-color-border:White;
    --slds-c-button-brand-text-color:rgb(255, 255, 255);
}